@charset "ISO-8859-1";
.cardLogin{ 
    border-radius: 100%;
    min-height: 380px;
    min-width: 380px;

}
.bottoniTondi{
	border-radius: 100%;
	height: 40px !important;
	width: 40px !important;
	padding: 0px;
	
}
